
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Academic Golf Series 2014 - Turnier 2</h1>
      <h2>GC Linz, 10. Mai 2014</h2>
      <h3>Bitte wähle deinen Wunschflight.</h3>
    </div>
  </div>

  <div class="row">

    <table class="table flights">

      <!-- MORGEN -->
      <thead>
        <tr>
          <th><h4>Morgen</h4></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td><h4>09:10</h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><h4>09:20</h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><h4>09:30</h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><h4>09:40</h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>

       <!-- MITTAG -->
      <thead>
        <tr>
          <th><h4>Mittag</h4></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td><h4>12:10</h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><h4>12:20</h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><h4>12:30</h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><h4>12:40</h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>

       <!-- Nachmittag -->
      <thead>
        <tr>
          <th><h4>Nachmittag</h4></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td><h4>14:10</h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><h4>14:20</h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><h4>14:30</h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><h4>14:40</h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>

    </table>


  </div>

</div>
