
<div class="container">

  <div class="registration_box">

  <div class="row">
    <div class="col-md-12 registration_head">
      <h1>Academic Golf Series 2014</h1>
      <h2>GC Linz, 10. Mai 2014</h2>
      <h5>Bitte wähle deinen Wunschflight.</h5>
    </div>
  </div>

  <div class="row">
      <div class="col-md-6 col-md-offset-3 time_menu">
          <a href="#">Vormittag</a>
          <a href="#">Nachmittag</a>
      </div>
    </div>

    <table class="table flights">

      <!-- VORMITTAG -->
  <!--     <thead>
        <tr>
          <th><h4>Vormittag</h4></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead> -->

      <tbody>


        <tr>
          <td class="time"><h4>09:00</h4></td>
          <td><img src="/assets/max.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Max Hödl</td>
          <td><img src="/assets/peter.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Peter Bangelmeier</td>
          <td><img src="/assets/luca.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Lukas Ransmayr</td>
          <td><img src="/assets/niki.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Nikolaus Schröter</td>
        </tr>

        <tr>
          <td class="time"><h4>09:10</h4></td>
          <td><img src="/assets/fips.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Philipp Ruttensteiner</td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

        <tr>
          <td class="time"><h4>09:20</h4></td>
          <td><img src="/assets/luca.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Lukas Ransmayr</td>
          <td><img src="/assets/peter.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Peter Bangelmeier</td>
          <td><img src="/assets/max.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Max Hödl</td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

        <tr>
          <td class="time"><h4>09:30</h4></td>
          <td><img src="/assets/max.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Max Hödl</td>
          <td><img src="/assets/peter.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Peter Bangelmeier</td>
          <td><img src="/assets/luca.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Lukas Ransmayr</td>
          <td><img src="/assets/niki.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Nikolaus Schröter</td>
        </tr>

        <tr>
          <td class="time"><h4>09:40</h4></td>
          <td><img src="/assets/fips.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Philipp Ruttensteiner</td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

        <tr>
          <td class="time"><h4>09:50</h4></td>
          <td><img src="/assets/max.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Max Hödl</td>
          <td><img src="/assets/peter.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Peter Bangelmeier</td>
          <td><img src="/assets/luca.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Lukas Ransmayr</td>
          <td><img src="/assets/niki.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Nikolaus Schröter</td>
        </tr>

        <tr>
          <td class="time"><h4>10:00</h4></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

        <tr>
          <td class="time"><h4>10:10</h4></td>
          <td><img src="/assets/luca.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Lukas Ransmayr</td>
          <td><img src="/assets/peter.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Peter Bangelmeier</td>
          <td><img src="/assets/max.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Max Hödl</td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

        <tr>
          <td class="time"><h4>10:20</h4></td>
          <td><img src="/assets/luca.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Lukas Ransmayr</td>
          <td><img src="/assets/peter.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Peter Bangelmeier</td>
          <td><img src="/assets/max.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Max Hödl</td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

        <tr>
          <td class="time"><h4>10:30</h4></td>
          <td><img src="/assets/luca.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Lukas Ransmayr</td>
          <td><img src="/assets/peter.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Peter Bangelmeier</td>
          <td><img src="/assets/max.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Max Hödl</td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

        <tr>
          <td class="time"><h4>10:40</h4></td>
          <td><img src="/assets/luca.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Lukas Ransmayr</td>
          <td><img src="/assets/peter.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Peter Bangelmeier</td>
          <td><img src="/assets/max.jpg" alt="..." class="img-circle" width="60px" height="60px"><br>Max Hödl</td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

         <tr>
          <td class="time"><h4>10:50</h4></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

      </tbody>


    </table>

    </div>

  </div>

</div>
