


  <div class="registration_box">

    <div class="row">
      <div class="col-md-12 registration_head">
        <h1>Academic Golf Series 2014</h1>
        <h2>GC Linz, 10. Mai 2014</h2>
        <h5>Bitte wähle deinen Wunschflight.</h5>
      </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 time_menu">
            <a href="#">Vormittag</a>
            <a href="#">Nachmittag</a>
        </div>
    </div>


    <div class="row">
      <!-- SPACE BEGINNING -->
      <div class="col-sm-1"></div>

      <!-- TIME -->
      <div class="col-sm-2 time">
        <h2>09.00</h2>
      </div>

      <!-- PLAYER1 -->
      <div class="col-sm-2">
        <div class="club_logo">
          <img src="/assets/clublogos/401Salzkammergut.gif" alt="..." class="img" width="80px" height="80px">
        </div>
        <div class="player_data">
          Max Hödl <br> HCP: 8
        </div>
      </div>

      <!-- PLAYER2 -->
      <div class="col-sm-2">
        <div class="club_logo">
          <img src="/assets/clublogos/401Salzkammergut.gif" alt="..." class="img" width="80px" height="80px">
        </div>
        <div class="player_data">
          Max Hödl <br> HCP: 8
        </div>
      </div>

      <!-- PLAYER3 -->
      <div class="col-sm-2">
        <div class="club_logo">
          <img src="/assets/clublogos/401Salzkammergut.gif" alt="..." class="img" width="80px" height="80px">
        </div>
        <div class="player_data">
          Max Hödl <br> HCP: 8
        </div>
      </div>

      <!-- PLAYER4 -->
      <div class="col-sm-2">
        <div class="club_logo">
          <img src="/assets/clublogos/401Salzkammergut.gif" alt="..." class="img" width="80px" height="80px">
        </div>
        <div class="player_data">
          Max Hödl <br> HCP: 8
        </div>
      </div>

      <!-- SPACE END -->
      <div class="col-sm-1"></div>


   </div>











