


  <div class="registration_box">

    <div class="row">
      <div class="col-md-12 registration_head">
        <h1>Academic Golf Series 2014</h1>
        <h2>GC Linz, 10. Mai 2014</h2>
        <h5>Bitte wähle deinen Wunschflight.</h5>
      </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 time_menu">
            <a href="#">Vormittag</a>
            <a href="#">Nachmittag</a>
        </div>
    </div>

    <!-- FLIGHT -->
    <div class="row flight">

      <!-- TIME -->
      <div class="col-sm-3 time">
        <h2><i class="fa fa-clock-o"></i><br>09.00</h2>
      </div>

      <!-- PLAYER1 -->
      <div class="col-sm-2">
        <div class="club_logo">
          <img src="/assets/clublogos/401Salzkammergut.gif" alt="..." class="img" width="90px" height="90px">
        </div>
        <div class="player_data">
          Max Hödl
        </div>
        <div class="hcp">
          HCP: 8
        </div>
        <div class="club_data">
          GC Salzkammergut
        </div>
      </div>

      <!-- PLAYER2 -->
      <div class="col-sm-2">
        <div class="club_logo">
          <img src="/assets/clublogos/404GCMondsee.gif" alt="..." class="img" width="90px" height="90px">
        </div>
        <div class="player_data">
          Niki Schröter
        </div>
        <div class="hcp">
          HCP: 8
        </div>
        <div class="club_data">
          GC Mondsee
        </div>
      </div>

      <!-- PLAYER3 -->
      <div class="col-sm-2">
        <div class="club_logo">
          <img src="/assets/clublogos/403GCWels.gif" alt="..." class="img" width="90px" height="90px">
        </div>
        <div class="player_data">
          Max Laska
        </div>
        <div class="hcp">
          HCP: 8
        </div>
        <div class="club_data">
          GC Wels
        </div>
      </div>

      <!-- PLAYER4 -->
      <div class="col-sm-2">
        <div class="club_logo">
          <img src="/assets/clublogos/401Salzkammergut.gif" alt="..." class="img" width="90px" height="90px">
        </div>
        <div class="player_data">
          Philipp Ruttensteiner
        </div>
        <div class="hcp">
          HCP: 8
        </div>
        <div class="club_data">
          GC Salzkammergut
        </div>
      </div>

      <!-- SPACE END -->
      <div class="col-sm-1"></div>

    </div>

    <!-- FLIGHT -->
    <div class="row flight">

      <!-- TIME -->
      <div class="col-sm-3 time">
        <h2><i class="fa fa-clock-o"></i><br>09.10</h2>
      </div>

      <!-- PLAYER1 -->
      <div class="col-sm-2">
        <div class="club_logo">
          <img src="/assets/clublogos/401Salzkammergut.gif" alt="..." class="img" width="90px" height="90px">
        </div>
        <div class="player_data">
          Max Hödl
        </div>
        <div class="hcp">
          HCP: 8
        </div>
        <div class="club_data">
          GC Salzkammergut
        </div>
      </div>

      <!-- PLAYER2 -->
      <div class="col-sm-2">
        <div class="club_logo">
          <img src="/assets/clublogos/404GCMondsee.gif" alt="..." class="img" width="90px" height="90px">
        </div>
        <div class="player_data">
          Niki Schröter
        </div>
        <div class="hcp">
          HCP: 8
        </div>
        <div class="club_data">
          GC Mondsee
        </div>
      </div>

      <!-- PLAYER3 -->
      <div class="col-sm-2">
        <div class="club_logo">
          <img src="/assets/clublogos/403GCWels.gif" alt="..." class="img" width="90px" height="90px">
        </div>
        <div class="player_data">
          Max Laska
        </div>
        <div class="hcp">
          HCP: 8
        </div>
        <div class="club_data">
          GC Wels
        </div>
      </div>

      <!-- PLAYER4 -->
      <div class="col-sm-2">
        <div class="club_logo">
          <img src="/assets/clublogos/401Salzkammergut.gif" alt="..." class="img" width="90px" height="90px">
        </div>
        <div class="player_data">
          Philipp Ruttensteiner
        </div>
        <div class="hcp">
          HCP: 8
        </div>
        <div class="club_data">
          GC Salzkammergut
        </div>
      </div>

      <!-- SPACE END -->
      <div class="col-sm-1"></div>

    </div>



  </div>









