
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Academic Golf Series 2014 - Turnier 2</h1>
      <h2>GC Linz, 10. Mai 2014</h2>
      <h5>Bitte wähle deinen Wunschflight.</h5>
    </div>
  </div>

  <div class="row">

    <table class="table flights">

      <!-- MORGEN -->
      <thead>
        <tr>
          <th><h4>Morgen</h4></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>


        <tr>
          <td class="time"><h4>09:10</h4></td>
          <td><img src="/assets/max.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Max Hödl</td>
          <td><img src="/assets/peter.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Peter Bangelmeier</td>
          <td><img src="/assets/luca.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Lukas Ransmayr</td>
          <td><img src="/assets/niki.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Nikolaus Schröter</td>
        </tr>

        <tr>
          <td class="time"><h4>09:20</h4></td>
          <td><img src="/assets/fips.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Philipp Ruttensteiner</td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

        <tr>
          <td class="time"><h4>09:30</h4></td>
          <td><img src="/assets/luca.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Lukas Ransmayr</td>
          <td><img src="/assets/peter.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Peter Bangelmeier</td>
          <td><img src="/assets/max.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Max Hödl</td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

        <tr>
          <td class="time"><h4>09:40</h4></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

      </tbody>



       <!-- MITTAG -->
      <thead>
        <tr>
          <th class="time"><h4>Mittag</h4></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td class="time"><h4>12:10</h4></td>
         <td><img src="/assets/max.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Max Hödl</td>
          <td><img src="/assets/peter.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Peter Bangelmeier</td>
          <td><img src="/assets/luca.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Lukas Ransmayr</td>
          <td><img src="/assets/niki.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Nikolaus Schröter</td>
        </tr>

        <tr>
          <td class="time"><h4>12:20</h4></td>
         <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

        <tr>
          <td class="time"><h4>12:30</h4></td>
           <td><img src="/assets/max.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Max Hödl</td>
          <td><img src="/assets/peter.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Peter Bangelmeier</td>
          <td><img src="/assets/luca.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Lukas Ransmayr</td>
          <td><img src="/assets/niki.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Nikolaus Schröter</td>
        </tr>

        <tr>
          <td class="time"><h4>12:40</h4></td>
           <td><img src="/assets/fips.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Philipp Ruttensteiner</td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

      </tbody>

       <!-- Nachmittag -->
      <thead>
        <tr>
          <th><h4>Nachmittag</h4></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td class="time"><h4>14:10</h4></td>
            <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

        <tr>
          <td class="time"><h4>14:20</h4></td>
              <td><img src="/assets/max.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Max Hödl</td>
          <td><img src="/assets/peter.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Peter Bangelmeier</td>
          <td><img src="/assets/luca.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Lukas Ransmayr</td>
          <td><img src="/assets/niki.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Nikolaus Schröter</td>
        </tr>

        <tr>
          <td class="time"><h4>14:30</h4></td>
              <td><img src="/assets/fips.jpg" alt="..." class="img-circle" width="80px" height="80px"><br>Philipp Ruttensteiner</td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

        <tr>
          <td class="time"><h4>14:40</h4></td>
            <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
          <td><i class="fa fa-user fa-4x"><br></i><br><button class="btn btn-xs">Diesen Platz buchen.</button></td>
        </tr>

      </tbody>

    </table>


  </div>

</div>
