


  <div class="registration_box">

  <div class="row">
    <div class="col-md-12 registration_head">
      <h1>Academic Golf Series 2014</h1>
      <h2>GC Linz, 10. Mai 2014</h2>
      <h5>Bitte wähle deinen Wunschflight.</h5>
    </div>
  </div>

  <div class="row">
      <div class="col-md-6 col-md-offset-3 time_menu">
          <a href="#">Vormittag</a>
          <a href="#">Nachmittag</a>
      </div>
  </div>

  <div class="table-responsive">

    <table class="table flights">

      <tbody>


        <tr>

          <td class="time">
            <h2>09:00</h2>
          </td>

          <td>
              <div class="club_logo">
                <img src="/assets/clublogos/401Salzkammergut.gif" alt="..." class="img" width="80px" height="80px">
              </div>

              <div class="player_data">Max Hödl <br> HCP: 7,4</div>
              <div class="club_info"><h3>Gc Salzkammergut</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/402GCLinz.jpg" alt="..." class="img" width="80px" height="80px">
            </div>

            <div class="player_data">Peter Bangelmeier <br> HCP: 2,4</div>

            <div class="club_info"><h3>GC Linz</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/404GCMondsee.gif" alt="..." class="img" width="80px" height="80px">
            </div>

            <div class="player_data">Niki Schröter <br> HCP: +3,8</div>

            <div class="club_info"><h3>GC Mondsee</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/402GCLinz.jpg" alt="..." class="img" width="80px" height="80px">
            </div>

            <div class="player_data">Max Laska <br> HCP: 4,4</div>

            <div class="club_info"><h3>GC Linz</h3></div>

          </td>

        </tr>

        <!-- OLD DESIGN -->

        <tr>
          <td class="time"><h4>09:10</h4></td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/401Salzkammergut.gif" alt="..." class="img" width="80px" height="80px">
            </div>

            <div class="player_data">Max Hödl | HCP: 7,4</div>

            <div class="club_info"><h3>Gc Salzkammergut</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/402GCLinz.jpg" alt="..." class="img" width="80px" height="80px">
            </div>

            <div class="player_data">Peter Bangelmeier | HCP: 2,4</div>

            <div class="club_info"><h3>GC Linz</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/404GCMondsee.gif" alt="..." class="img" width="80px" height="80px">
            </div>

            <div class="player_data">Niki Schröter | HCP: +3,8</div>

            <div class="club_info"><h3>GC Mondsee</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/402GCLinz.jpg" alt="..." class="img" width="80px" height="80px">
            </div>

            <div class="player_data">Max Laska | HCP: 4,4</div>

            <div class="club_info"><h3>GC Linz</h3></div>

          </td>

        </tr>


        <tr>
          <td class="time"><h4>09:20</h4></td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/401Salzkammergut.gif" alt="..." class="img" width="80px" height="80px">
            </div>

            <div class="player_data">Max Hödl | HCP: 7,4</div>

            <div class="club_info"><h3>Gc Salzkammergut</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/402GCLinz.jpg" alt="..." class="img" width="80px" height="80px">
            </div>

            <div class="player_data">Peter Bangelmeier | HCP: 2,4</div>

            <div class="club_info"><h3>GC Linz</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/404GCMondsee.gif" alt="..." class="img" width="80px" height="80px">
            </div>

            <div class="player_data">Niki Schröter | HCP: +3,8</div>

            <div class="club_info"><h3>GC Mondsee</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/402GCLinz.jpg" alt="..." class="img" width="80px" height="80px">
            </div>

            <div class="player_data">Max Laska | HCP: 4,4</div>

            <div class="club_info"><h3>GC Linz</h3></div>

          </td>

        </tr>

        <tr>
          <td class="time"><h4>09:30</h4></td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/401Salzkammergut.gif" alt="..." class="img" width="80px" height="80px">
            </div>

            <div class="player_data">Max Hödl | HCP: 7,4</div>

            <div class="club_info"><h3>Gc Salzkammergut</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/402GCLinz.jpg" alt="..." class="img" width="80px" height="80px">
            </div>

            <div class="player_data">Peter Bangelmeier | HCP: 2,4</div>

            <div class="club_info"><h3>GC Linz</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/404GCMondsee.gif" alt="..." class="img" width="80px" height="80px">
            </div>

            <div class="player_data">Niki Schröter | HCP: +3,8</div>

            <div class="club_info"><h3>GC Mondsee</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/402GCLinz.jpg" alt="..." class="img" width="80px" height="60px">
            </div>

            <div class="player_data">Max Laska | HCP: 4,4</div>

            <div class="club_info"><h3>GC Linz</h3></div>

          </td>

        </tr>

        <tr>
          <td class="time"><h4>09:40</h4></td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/401Salzkammergut.gif" alt="..." class="img" width="60px" height="60px">
            </div>

            <div class="player_data">Max Hödl | HCP: 7,4</div>

            <div class="club_info"><h3>Gc Salzkammergut</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/402GCLinz.jpg" alt="..." class="img" width="60px" height="60px">
            </div>

            <div class="player_data">Peter Bangelmeier | HCP: 2,4</div>

            <div class="club_info"><h3>GC Linz</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/404GCMondsee.gif" alt="..." class="img" width="60px" height="60px">
            </div>

            <div class="player_data">Niki Schröter | HCP: +3,8</div>

            <div class="club_info"><h3>GC Mondsee</h3></div>

          </td>

          <td>

            <div class="club_logo">
              <img src="/assets/clublogos/402GCLinz.jpg" alt="..." class="img" width="60px" height="60px">
            </div>

            <div class="player_data">Max Laska | HCP: 4,4</div>

            <div class="club_info"><h3>GC Linz</h3></div>

          </td>

        </tr>

      </tbody>


    </table>

    </div>

    </div>

  </div>


