// NEW BOOTSTRAP VARIABLES

// NEW BOOTSTRAP VARIABLES GO ABOVE THISE LINE


@import 'reset';
@import 'library';
@import "bootstrap";



$headline_font: Gentium Book Basic, serif;
$content_font: Open Sans, sans-serif;


body {
  font-family: $content_font;
  // background-color: #25302D;
  background-color: white;

  h1 {
    font-family: $headline_font;
    margin-top: 5px;
    margin-bottom:  5px;
  }

  h2 {
    font-family: $content_font;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
  }

  h3, h4 {
    font-family: $content_font;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
  }

  h5 {
    font-family: $content_font;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;

  }
}

.registration_box {
  background-color: white;
  padding: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 7px;
}

.registration_head {
  text-align: center;
}

.time_menu {
  text-align: center;
  margin-top: 40px;

    a {
      margin-left: 10px;
      margin-right: 10px;
    }

}




.flights {
  margin-top: 25px;
}

thead {
  h4 {
    font-size: 16px;
    text-align: left;
  }
}

tbody {
  font-family: $content_font;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.notice {
  font-size: 0.8em;
  color: red;
}

td {
  text-align: left;
}

.time {
  text-align: left;
}

.fa-user {
  color: grey;
}

button {
  color: white;
}

.club_logo {
  text-align: right;
  font-size: 9px;
}

.player_data {
  font-size: 14px;
}
