// NEW BOOTSTRAP VARIABLES

// NEW BOOTSTRAP VARIABLES GO ABOVE THISE LINE


@import 'reset';
@import 'library';
@import "bootstrap";



// $headline_font: Gentium Book Basic, serif;
$headline_font: 'Yanone Kaffeesatz', sans-serif;
$content_font: 'Yanone Kaffeesatz', sans-serif;



.notice {
  font-size: 0.8em;
  color: red;
}

body {
  font-family: $content_font;
  // background-color: #25302D;
  background-color: white;
  }







.registration_box {
  background-color: white;
  // padding: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 7px;

  h1 {
    font-family: $headline_font;
    margin-top: 5px;
    margin-bottom:  5px;
    }

  h2 {
    font-family: $content_font;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 20px;
    }

  h3, h4 {
    font-family: $content_font;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
    }

  h5 {
    font-family: $content_font;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
    }

  .registration_head {
    text-align: center;
  }

  .player_data {
    text-align: center;
  }

  .club_logo {
    text-align: center;
  }

  .time {
    h2 {
      text-align: center;
      }
  }

  .time_menu {
    text-align: center;
    margin-top: 40px;

      a {
        margin-left: 10px;
        margin-right: 10px;
      }
  }

  .flights {
    margin-top: 25px;
  }

  .time {
    text-align: left;
  }

  .fa-user {
    color: grey;
  }

  button {
    color: white;
  }


}







