// NEW BOOTSTRAP VARIABLES

// NEW BOOTSTRAP VARIABLES GO ABOVE THISE LINE


@import 'reset';
@import 'library';
@import "bootstrap";



// $headline_font: Gentium Book Basic, serif;
$headline_font: 'Yanone Kaffeesatz', sans-serif;
$content_font: 'Yanone Kaffeesatz', sans-serif;



.notice {
  font-size: 0.8em;
  color: red;
}

body {
  font-family: $content_font;
  // background-color: #25302D;
  background-color: white;

  // &.registration {
  //   background-image: url('/assets/bg01.jpg');
  //   background-size: 100%;
  //   background-attachment: fixed;
  // }

  }







.registration_box {
  // padding: 50px;
  margin-top: 40px;
  margin-bottom: 80px;
  // background: rgba(0, 0, 0, 0.7);


  h1 {
    font-family: $headline_font;
    margin-top: 5px;
    margin-bottom:  5px;
    }

  h2 {
    font-family: $content_font;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 40px;
    }

  h3, h4 {
    font-family: $content_font;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 24px;
    }

  h5 {
    font-family: $content_font;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
    }

  .registration_head {
    text-align: center;
  }

  .flight_spot {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

  }

  .player_data {
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 22px;
  }

  .hcp {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }

  .club_data {
    text-align: center;
    font-weight: 300;
    font-size: 16px;

  }

  .club_logo {
    text-align: center;
  }

  .time {
    h2 {
      text-align: center;
      padding-top: 50px;
      font-size: 30px;
      font-weight: 700;
      }
  }

  .time_menu {
    text-align: center;
    margin-top: 40px;

      a {
        margin-left: 10px;
        margin-right: 10px;
      }
  }

  .flight {
    margin-top: 25px;
    border-bottom: 1px solid #55762b;
    padding-bottom: 20px;
  }

  .time {
    text-align: left;
    color: grey;
  }


  .fa-user {
    color: grey;
  }

  button {
    color: white;
  }

  .wunschflight {
    color: #ff755a;
    margin-top: 20px;
  }

  // img {
  //   opacity: 0.5;

  //   &:hover {
  //     opacity: 1;
  //   }
  // }


}







